<header
  class="nav-bar-container"
  fxLayout="row"
  fxLayoutAlign="space-between center">
  <div
    id="nav-name"
    fxLayoutAlign="center"
    fxFlex="20">
    <p>Otito Darl-Uzu</p>
  </div>
  <div
    id="nav-option-cont"
    fxFlex="60">
    <ul
      id="nav-option-list"
      fxLayout="row"
      fxLayoutAlign="center">
      <li class="nav-option">
        Home
      </li>
      <li class="nav-option">
        About
      </li>
      <li class="nav-option">
        Projects
      </li>
      <li class="nav-option">
        Contact
      </li>
    </ul>
  </div>
  <div
    fxLayoutAlign="center"
    fxFlex>
    <app-social-media-bar></app-social-media-bar>
  </div>
</header>
